@media only screen and (min-width:1024px){
.org_head{
	z-index: 11;
}
	.org_menu{
		position: relative;
		top: 0;
	}
		.org_menu ul li a span{
			background: transparent;
			color: #eb4e9b;
		}
		.org_menu .menu_pc{
			float: left;
		}
	.content_menu ul li{
		padding: 10px 0;
		margin-bottom: -20px;
	}
		.content_menu ul li:last-child{
			margin-bottom: 0;
		}
		.content_menu ul li a{
			padding: 10px 0;
		}
	.content_menu ul li.active{
		box-shadow: none;
	}
		.content_menu ul li.active:before{
			content: '';
			position: absolute;
			background: #eb4e9b;
			left: 0;
			right: 0;
			bottom: 0;
			height: 3px;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
			-webkit-transition-delay: 0.3s;
			-moz-transition-delay: 0.3s;
			-o-transition-delay: 0.3s;
			transition-delay: 0.3s;
		}
	.content_menu.menu_lg.active ul li.active:before{
		bottom: 10px;
	}
}
@media only screen and (max-width:1023px) {
	.inner{
		width: 760px;
	}
	header{
		min-width: 760px;
	}
	.search{
		padding: 12px 0px;
		margin-left: 30px;
	}
	.search_head{
		width: 44px;
	}
	.search_head input{
		opacity: 0;
	}
	.search_head.active input{
		opacity: 1;
	}
	.search_head button{
		background: transparent;
		color: #c6bae7;
	}
	.search_head:hover button, .search_head button:hover{
		background:#3d3061;
		color: #eb4e9b;
	}
	.search_head:hover .search_close{
		color: #c6bae7;
	}
	.search_head .search_close:hover{
		color: #fff;
	}
	.nav_title{
		display: none;
	}
	.menu_pc{
		display: none;
	}
	.block_mobile{
		display: block;
	}
	.title span{
		padding-right: 0;
	}
	#main .popular .inner{
		padding: 0 25px;
	}
	.popular_head .title{
		width: 560px;
	}
	.page_catalog .popular_head .title{
		width: auto;
	}
	.popular_head:before{
		content: none;
	}
	.popular_question{
		float: right;
	}
	.popular_head .popular_arr{
		display: none;
	}
	.popular_bottom{
		text-align: center;
		margin-top: 20px;
	}
	.popular_bottom .popular_arr{
		display: block;
		float: none;
		margin-left: 0;
		padding-left: 0;
	}
	.popular_arr .a_button{
		width: 40px;
		height: 40px;
		/*line-height: 40px;*/
		margin: 0 15px;
	}
	.popular_arr .a_button .fa{
		line-height: 28px;
	}
	footer{
		display: none;
	}
	.rules{
		width: auto;
	}
	.aside{
		display: none;
	}
	.aside_right{
		display: block;
		float: none;
		width: auto;
		padding-top: 0;
		margin-top: -40px;
	}
	.content_right, .content_left{
		float: none;
		width: auto;
	}
	.soc_net_body{
		width: 610px;
	}
	.menu_mobile .content_menu ul li a span{
		left: auto;
		margin-left: 5px;
	}
	.article_head .catalog_body {
	    padding: 30px 40px;
	}
	.article_head .catalog_title a{
		font-size: 36px;
		line-height: 44px;
	}
	.subscribe_box{
		display: block;
		height: auto;
		text-align: center;
		padding: 30px 20px;
	}
	.subscribe_wrap label{
		display: block;
		width: auto;
		font-size: 30px;
		margin-bottom: 10px;
		padding-right: 0;
	}
	.subscribe_input{
		display: inline-block;
	}
	.subscribe_button{
		display: inline-block;
	}
	.article_catalog .catalog_box:nth-child(n+3){
		display: none;
	}
	.aside_right .catalog_request{
		float: right;
	}
	.popular_today{
		float: left;
	}
	.popular_today h6{
		display: none;
	}
	.popular_today .box_w{
		display: block;
	}
	.popular_today .box_h{
		display: none;
	}
	.comment_login{
		float: none;
		width: auto;
	}
	.article_w{
		height: 570px;
	}
	.article_head .article_h .catalog_body{
		width: 380px;
	}
	.soc_net_switch label:hover{
		background: #f7f7f7;
	}	
	.soc_net_switch input[type='checkbox']:checked + label:hover{
		background: #eb4e9b;
	}
	.soc_net_switch label:hover .soc_net_button, .soc_net_switch input[type='checkbox']:checked + label .soc_net_button{
		background: #e7e7e7;
	}
	.soc_net_switch input[type='checkbox']:checked + label .soc_net_button{
		background: #fff;
	}
	.soc_net_switch input[type='checkbox']:checked + label:hover .soc_net_button{
		background: #fff;
	}
	.soc_net_switch input[type='checkbox']:checked + label:hover .soc_net_on{
		opacity: 1;
	}
	.soc_net_switch input[type='checkbox']:checked + label:hover .soc_net_off{
		opacity: 0;
	}
	.comment_control{
		opacity: 1;
	}
	.all_category{
		display: none !important;
	}
	.user_box{
		width: auto;
	}
	.user_box .user_title{
		display: none;
	}


	.search_content {
		text-align: center;
	}
	.search_box .catalog_box:nth-child(n+3){
		display: none;
	}
	.box_h{
		width: 245px;
		height: 325px;
	}
	.box_w{
		width: 435px;
		height: 325px;
	}


	.top{
		display: block;
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}

	.catalog_filter{
		position: fixed;
		top: 0;
		right: -300px;
		z-index: 100;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.catalog_content{
		width: auto;
		float: none;
		margin: 0 auto;
	}
	.catalog_org_body{
		width: 510px;
	}
	.org_gallery_img{
		margin-left: 25px;
	}
	.org_gallery_video{
		margin-left: 40px;
	}
	.catalog_spec_body{
		width: 510px;
	}
	.spec_gallery_img{
		margin-left: 25px;
	}
	.spec_gallery_video{
		margin-left: 40px;
	}
	.catalog_action_content{
		width: 440px;
	}
	.catalog_sharing{
		display: none;
	}
	.cover_mini{
		margin-top: 0;
	}
	.cover_mini .org_cover{
		height: 320px;
	}
	.no_cover{
		height: 400px;
	}
	.org_head_inner{
		margin-top: -290px;
	}
	.org_avatar{
		float: none;
		width: 140px;
		height: 140px;
		margin-left: 0;
		margin-bottom: 20px;
	}
	.org_head_content{
		width: 100%;
		padding-left: 40px;
	}
	.org_favorites{
		left: -20px;
	}
	.org_facilities span{
		margin-left: 10px;
	}
	.entire_network{
		display: none;
	}
	.main_menu ul li{
		width: 120px;
	}
	.catalog_row .catalog_box:last-child{
		display: none;
	}
	.land_box{
		padding: 0 20px;
	}
	.land_item{
		margin: 0;
	}
	.land_content{
		float: none;
		width: auto;
		margin-bottom: 40px;
	}
	.land_content_inner{
		width: 640px;
		margin: 0 auto;
	}
	.land_box .specialist_box{
		margin: 5px 10px;
	}
	.land_aside{
		float: none;
		width: auto;
	}
	.aside_models{
		margin-bottom: 25px;
	}
	.models_carousel{
		width: 560px;
		margin: 0 auto;
	}
	.models_carousel .slick-prev, .models_carousel .slick-next{
		top: 175px;
		width: 40px;
		height: 40px;
	}
	.models_carousel .slick-prev{
		left: -45px;
	}
	.models_carousel .slick-next{
		right: -45px;
	}
	.models_carousel .slick-prev:before, .models_carousel .slick-next:before{
		font: normal normal normal 26px/12px FontAwesome;
	}
	.land_box .services_box{
		margin: 5px 10px;
	}
	.activity_box{
		float: left;
		width: 280px;
	}
	.land_box .rent_box{
		margin: 5px 10px;
	}
	.active_participants_title h3{
		display: inline-block;
		vertical-align: middle;
	}
	.active_participants_title a{
		display: inline-block;
		vertical-align: middle;
		margin-left: 15px;
	}
	.active_participants_box{
		float: left;
		width: 240px;
		border-left: 1px solid #eeeeee;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.founder_right{
		width: 320px;
	}
	.founder_title{
		font-size: 34px;
		letter-spacing: -0.01em;
	}
	.land_box .popular_head .popular_arr button, .land_box .popular_bottom .popular_arr button{
		width: 40px;
		height: 40px;
		margin: 0 10px;
	}
	.land_box .popular_head .popular_arr button:before, .land_box .popular_bottom .popular_arr button:before{
		font: normal normal normal 26px/12px FontAwesome;
	}
	.catalog_row .box_h{
		width: 260px;
		height: 345px;
	}
	.catalog_row .box_w {
		width: 460px;
		height: 345px;
	}
	.land_box .popular_head .title{
		width: auto;
	}
	.land_box .popular_question{
		float: left;
		margin-left: 15px;
	}
	.activity_box{
		border-left: 1px solid #eeeeee;
	}
	.indent-item-image{
		width: 140px;
		height: 140px;
	}
	.landingScreen-advantages .mainheading{
		font-size: 60px;
	}
	.advantages-item{
		margin: 0px 15px;
	}
	.community_box{
		float: left;
		margin-left: 15px;
	}
	.community_box:first-child{
		margin-left: 0;
	}
	.community_box:nth-child(1) img{
		max-width: 230px;
	}
	.community_box:nth-child(2) img{
		max-width: 230px;
	}
	.community_box:nth-child(3) img{
		max-width: 230px;
	}
	.reviews{
		width: auto;
	}
	.reviews_body{
		width: 610px;
	}
	.employee_box{
		width: 330px;
	}
	.employee_box:nth-child(3n+1) {
	    margin-left: 20px;
	}
	.employee_box:nth-child(2n+1) {
	    margin-left: 0;
	}
	.employee_body{
		width: 200px;
	}
	#modal_map{
		width: 760px;
	}

	.online_order{
		width: 760px;
	}
	.order_tabs ul li{
		margin-right: 20px;
	}
	.order_section{
		width: 240px;
	}
	.order_section_services{
		width: 230px;
	}
	.order_services .scroll-wrapper > .scroll-content{
		padding-right: 20px !important;
	}
	.order_services .scrollbar > .scroll-element.scroll-y{
		right: 5px;
	}
	.order_section .scrollbar > ul > li > a{
		padding-left: 30px;
	}
	.order_section .scrollbar > ul > li:before{
		left: 10px;
	}
	.order_section ul li ul li{
		padding-left: 30px;
	}
	.order_services_title{
		padding-left: 15px;
	}
	.order_services_option label{
		background-position: 15px 14px;
		padding-left: 40px;
	}
	.order_services_option label:hover{
		background-position: 15px 14px;
	}
	.order_services_option input[type="checkbox"]:checked + label{
		background-position: 15px 14px;
	}
	.services_option_left{
		float: none;
		width: auto;
	}
	.services_option_right{
		float: none;
		width: auto;
		text-align: left;
	}
	.services_option_time{
		margin-bottom: 5px;
	}
	.order_date_hour{
		padding: 25px 25px 25px 50px;
	}

	.order_footer_left{
		width: 550px;
	}
	.order_info_date span, .order_info_time span, .order_info_employee span, .order_info_price span{
		display: block;
		padding-top: 5px;
	}
	#main .catalog_block .inner{
		padding: 0 20px;
	}
	.nav_top_box{
		display: block;
		width: auto;
		margin-right: 0;
	}
	.nav_list{
		position: relative;
		-webkit-column-count: 3;
		-moz-column-count: 3;
		-o-column-count: 3;
		-ms-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 30px;
		-moz-column-gap: 30px;
		-o-column-gap: 30px;
		-ms-column-gap: 30px;
		column-gap: 30px;
	}
}

@media only screen and (min-width:760px) and (max-width:1023px){
	.activity_content{
		margin-bottom: 2px;
	}
	.activity .scroll-wrapper{
		width: 720px;
	}
	.activity_content .scroll-wrapper > .scroll-content{
		width: 2000px !important;
		padding-right: 0 !important;
		padding-bottom: 20px;
	}
	.activity_content .scrollbar > .scroll-element.scroll-x{
		display: block;
		bottom: 6px;
		left: 10px;
		height: 5px;
		width: 97%;
	}
	.activity_content .scrollbar > .scroll-element.scroll-y{
		display: none;
	}
	.activity_box{
		border-bottom: 0;
	}
	.org_address, .org_phone, .org_time{
		margin-right: 50px;
	}
}
@media only screen and (max-width:759px) {
	body{
		padding-top: 120px;
	}
	hr{
		margin: 15px -20px;
	}
	.inner{
		width: 320px;
		padding: 0 20px;
	}
	#main{
		padding: 20px 0 30px;
	}
	.page_catalog .inner{
		padding: 0 15px;
	}
	.catalog_row .inner{
		padding: 0;
	}
	.popular .inner{
		min-width: 280px;
	}
	header{
		min-width: 320px;
	}
	.logo{
		width: 30px;
	}
	.logo img {
    	width: 105px;
    }
    .nav{
    	margin-left: 15px;
    }
    .nav_head{
    	padding: 21px 10px;
    }
    .search{
		padding: 7px 0px;
		margin-left: 20px;
	}
	.entrance_lock{
		display: block;
		float: right;
	}
	.entrance_lock.active:before{
		content: '';
    	position: absolute;
    	left: 50%;
    	bottom: 0;
    	width: 0;
    	height: 0;
    	border-left: 7px solid transparent;
    	border-right: 7px solid transparent;
    	border-bottom: 7px solid #333;
    	margin-left: -7px;
	}
    .entrance_box{
    	position: fixed;
    	display: none;
    	left: 0;
    	right: 0;
    	top: 60px;
    	background: #333333;
    	text-align: center;
    	padding: 15px 0;
    }
    .entrance_box.active{
    	display: block;
    }
    .login, .reg{
		display: inline-block;
		float: none;
		vertical-align: top;
    }
	.login a{
		color: #eb4e9b;
		line-height: 20px;
	}
	.login a .fa{
		display: none;
	}
    .catalog{
    	/*margin: 0px -15px;*/
    }
    #main .popular .inner{
    	padding: 0 20px;
    }
    .popular_head{
    	padding: 0;
    }
	.popular_head .title{
		width: auto;
		float: none;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		margin-bottom: 10px;
	}
	.title span{
		padding-right: 0;
	}
	.popular_carousel{
		margin: 0 -15px;
	}
	.action_carousel{
		margin: 0 -15px;
	}
	.popular_question{
		float: none;
		text-align: center;
		padding-left: 0;
	}
	.pagers ul li{
		margin: 0 5px;
	}
	.modal{
		width: 320px;
	}
	.modal_head{
		padding: 30px 20px;
	}
	.a_socials{
		margin-right: 4px;
	}
	.modal_body{
		padding: 25px 20px 40px;
	}
	.form_row{
		margin-bottom: 0;
	}
	.form_group{
		float: none;
		width: 100%;
		margin-bottom: 20px;
		padding-right: 0;
	}
	.form_button .a_button{
		padding: 0 15px;
		margin-bottom: 20px;
	}
	.form_button .a_button:first-child{
		margin-right: 15px;
	}
	.forgot_pass{
		width: auto;
		line-height: 24px;
	}
	.content{
		padding: 25px 20px;
	}
	.subscription_body{
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
	}
	.soc_net_body{
		width: 210px;
	}
	.soc_net_switch{
		position: relative;
		top: auto;
		right: auto;
		margin-top: 5px;
	}
	.popular_spec_org .popular_box{
		float: none;
		margin: 0 auto 20px;
	}
	.spec_org{
		float: none;
		width: auto;
	}
	.modal_footer{
		padding: 25px 25px;
	}
	.file_button{
		float: none;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.file_format{
		line-height: 16px;
	}
	.modal_carousel .action_modal_carousel {
	    width: 300px;
	    margin: 0 -20px;
	}
	.action_modal_carousel .action_box{
		margin: 10px 0;
	}
	.photo_upload{
		position: relative;
    	margin: 0 auto 20px;
	}
	.user_right, .admin_right{
		margin: 0 -20px;
	}
	.right_title{
		padding: 15px 40px 15px 20px;
	}
	.admin_right .right_title{
		padding-left: 50px;
	}
	.form_row_row input, .form_row_row .a_button{
		margin-bottom: 10px;
	}
	.right_box .fa-check, .right_box .fa-times{
		right: 20px;
	}
	.right_box .fa-plus, .right_box .fa-minus{
		left: 20px;
	}
	.block_mobile{
		padding: 10px 0px;
	}
	.article{
		margin: -20px 0;
	}
	.article_head .catalog_info{
	    font-size: 13px;
	    line-height: 16px;
	}
	.article_head .catalog_category{
		font-size: 13px;
	}
	.article_head .catalog_title a{
		font-size: 15px;
		line-height: 21px;
	}
	.catalog_short_desc{
		display: none;
	}
	.article_user_img .user_img{
		width: 60px;
		height: 60px;
		border: 2px solid #f7f7f7;
	}
	.article_author{
		padding-left: 10px;
	}
	.article_user_title{
		padding-left: 10px;
	}
	.article_user_title a{
		font-size: 18px;
		line-height: 24px;
	}
	.article_organization{
		padding-left: 10px;
		line-height: 21px;
	}
	.article_slider{
		width: 280px;
	}
	.article_prev{
		left: 5px;
	}
	.article_next {
	    right: 5px;
	}
	.content iframe{
		width: 280px;
    	height: 160px;
	}
	.result_line{
		width: 240px;
		margin-right: 10px;
	}
	.content ul, .content ol{
		line-height: 20px;
		padding: 0 0 0 15px;
	}
	.content ul li, .content ol li{
		padding-left: 15px;
		margin-bottom: 10px;
	}
	.content ul li:before{
		top: 8px;
	}
	.content ol li:before{
		left: -5px;
	}
	.article_tags a{
		padding: 0 8px;
	}
	.social_share h3{
		font-size: 20px;
		line-height: 28px;
	}
	.block_share a{	
	    margin-right: 5px;
	    margin-bottom: 5px;
	}
	#main .subscribe_wrap .inner{
		padding: 0 10px;
	}
	.subscribe_wrap label{
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.subscribe_input{
		display: block;
		width: auto;
		padding-right: 0;
		margin-bottom: 20px;
	}
	#main .comments .inner{
		padding: 0 20px;
	}
	.best_comment h3{
		font-size: 20px;
		line-height: 24px;
	}
	.add_comment h3{
		font-size: 20px;
		line-height: 24px;
	}
	.comment_box .comment_box{
		padding-left: 20px;
	}
	.comment_head{
		display: table;
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
	.comment_img{
		display: table-cell;
		vertical-align: top;
		width: 65px;
	}
	.comment_mobile{
		display: table-cell;
		vertical-align: middle;
		padding-left: 10px;
		padding-top: 10px;
	}
	.comment_mobile .comment_title{
		line-height: 19px;
	}
	.comment_body .comment_mobile .comment_title{
		display: block;
	}
	.comment_body .comment_mobile .comment_organization{
		display: block;
	}
	.comment_mobile .pro{
		padding: 3px 8px;
	}
	.comment_body{
		padding-left: 0;
		overflow: visible;
	}
	.comment_body .comment_title{
		display: none;
	}
	.comment_body .comment_organization{
		display: none;
	}
	.comment_body_inner:before, .comment_body_inner:after{
		border-color: transparent transparent #eeeeee transparent;
		left: 22px;
		top: -22px;
	}
	.comment_body_inner:after{
		border-color: transparent transparent #fff transparent;
		top: -20px;
		left: 23px;
	}
	.comment_img a{
		width: 60px;
		height: 60px;
		border: 2px solid #f7f7f7;
	}
	.comment_like{
		top: -20px;
		right: 0;
	}
	.comment_control a{
		display: inline-block;
		margin-left: 15px;
		margin-bottom: 5px;
	}
	#main .article_catalog .inner{
		padding: 0 10px;
	}
	.article_catalog .catalog_box:nth-child(n+2){
		display: none;
	}
	.article_catalog .box_h{
		width: 300px;
		height: 400px;
		border: 0;
		border-radius: 3px;
	}
	.aside_right{
		padding: 0 10px;
	}
	.aside_right .request_body{
		padding: 60px 40px;
	}
	.aside_right .catalog_request{
		float: none;
		width: 300px;
		height: 400px;
	}
	.popular_today .catalog_box{
		display: block;
		width: 300px;
		height: 400px;
	}
	.popular_today .catalog_box:nth-child(n+3){
		display: none;
	}
	.comment_login{
		padding: 20px;
	}
	.comment_login_text{
		float: none;
		line-height: 25px;
		text-align: center;
		margin-bottom: 10px;
	}
	.comment_login_button{
		float: none;
		text-align: center;
	}
	.article_w{
		display: none;
		height: 425px;
	}
	.article_head .article_w{
		display: block;
	}
	.article_w + .article_h{
		display: block;
	}
	.article_head .catalog_body {
	    padding: 15px 25px;
	}
	.article_h{
		height: 425px;
	}
	.article_head .article_h .catalog_img{
		position: absolute;
		float: none;
		width: auto;
		height: auto;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+25,000000+75&amp;0+25,0.75+75 */
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 25%, rgba(0,0,0,0.75) 75%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(0,0,0,0)), color-stop(75%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 25%,rgba(0,0,0,0.75) 75%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,0,0,0) 25%,rgba(0,0,0,0.75) 75%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,0,0,0) 25%,rgba(0,0,0,0.75) 75%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 25%,rgba(0,0,0,0.75) 75%); /* W3C */		
	}
	.article_head .article_h .catalog_body{
		width: auto;
	}
	.article_head .article_h .catalog_info{
		color: #e7e7e7;
	}
	.article_head .article_h .catalog_title a{
		color: #fff;
		font-size: 15px;
		line-height: 21px;
	}
	.right_edit_title{
		padding-right: 40px;
	}
	.search.active{
		position: absolute;
		left: -20px;
	}
	.search.active .search_head input{
		border-radius: 0;
	}
	.user_box .user_img{
		width: 30px;
		height: 30px;
	}
	.fancybox-lock{
		position: fixed;
	}


	.search_top h2:before{
		content: none;
	}
	.search_top h2 span{
		padding: 0;
	}
	.search_box h3:before{
		content: none;
	}
	.search_box h3 span{
		padding: 0;
	}
	.search_nav ul li{
		display: block;
		float: none;
		margin-bottom: 20px;
	}
	.search_box{
		margin: 0 -10px 20px;
	}
	.search_box .catalog_box:nth-child(n+2){
		display: none;
	}
	.search_box .catalog_box{
		width: 300px;
		height: 400px;
	}

	.content_login{
		width: 100%;
	}

	.content_menu{
		top: 60px;
	}
	.wrapper{
		margin-top: -40px;
	}

	.catalog_content{
		width: auto;
	}
	.catalog_org_box{
		padding: 15px 20px 20px;
	}
	.catalog_org_avatar{
		width: 60px;
		height: 60px;
		margin-right: 15px;
	}
	.catalog_org_body{
		width: auto;
		float: none;
	}
	.catalog_org_category{
		font-size: 15px;
	}
	.catalog_org_title{
		font-size: 18px;
		margin-bottom: 20px;
	}
	.catalog_org_title .pro{
		padding: 3px 8px;
	}
	.catalog_org_link{
		padding-top: 10px;
		margin-bottom: 10px;
	}
	.catalog_org_link .a_button{
		width: 100%;
		margin-bottom: 10px;
	}
	.org_gallery_img{
		width: 135px;
		height: 135px;
		margin-left: 10px;
		margin-bottom: 10px;
	}
	.org_gallery_img:nth-child(2n+1){
		margin-left: 0;
	}
	.org_gallery_video{
		width: 280px;
		height: 210px;
		margin-left: 0;
		margin-bottom: 10px;
	}
	.catalog_spec_box{
		padding: 15px 20px 20px;
	}
	.catalog_spec_avatar{
		width: 60px;
		height: 60px;
		margin-right: 15px;
	}
	.catalog_spec_body{
		width: auto;
		float: none;
	}
	.catalog_spec_category{
		font-size: 15px;
	}
	.catalog_spec_title{
		font-size: 18px;
		margin-bottom: 20px;
	}
	.catalog_spec_title .pro{
		padding: 3px 8px;
	}
	.catalog_spec_link{
		padding-top: 10px;
		margin-bottom: 10px;
	}
	.catalog_spec_link .a_button{
		width: 100%;
		margin-bottom: 10px;
	}
	.spec_gallery_img{
		width: 135px;
		height: 135px;
		margin-left: 10px;
		margin-bottom: 10px;
	}
	.spec_gallery_img:nth-child(2n+1){
		margin-left: 0;
	}
	.spec_gallery_video{
		width: 280px;
		height: 210px;
		margin-left: 0;
		margin-bottom: 10px;
	}
	.catalog_content_about{
		padding: 20px 20px;
	}
	.catalog_filter{
		width: 280px;
	}
	.catalog_filter_head{
		padding: 25px 30px 20px;
	}
	.catalog_filter_head .form_group{
		margin-bottom: 0;
	}
	.catalog_filter_body .scroll-wrapper > .scroll-content{
		padding-left: 30px;
		padding-right: 30px !important;
	}
	.catalog_filter_body .scrollbar > .scroll-element.scroll-y.scroll-scrolly_visible{
		right: 12px;
		width: 5px;
	}
	.aside_catalog .form_row{
		margin-bottom: 0;
	}
	.org_cover{
		height: 170px;
	}
	.cover_mini .org_cover {
	    height: 170px;
	}
	.no_cover{
		height: 170px;
	}
	.org_head_inner{
		margin-top: -50px;
	}
	.mobile_facilities{
		display: block;
	}
	.org_favorites{
		position: relative;
		float: left;
		left: -15px;
		top: auto;
	}
	.org_facilities{
		padding-top: 0;
	}
	.org_facilities span{
		margin-left: 8px;
	}
	.org_facilities span:first-child{
		margin-left: 0;
	}
	.org_avatar{
		float: left;
		width: 60px;
		height: 60px;
		margin: 0 10px 10px 0;
		box-shadow: 0px 0px 0px 3px #FFF;
	}
	.org_head_content{
		float: none;
		padding-left: 0;
	}
	.org_category{
		color: #999999;
		font-size: 13px;
		padding-top: 10px;
	}
	.org_title{
		color: #333333;
		font-size: 18px;
	}
	.org_head_content .org_favorites{
		display: none;
	}
	.org_button{
		margin-bottom: 15px;
	}
	.org_link{
		float: none;
	}
	.org_link .a_button{
		width: 100%;
		margin-bottom: 10px;
	}
	.org_head_content .org_facilities{
		display: none;
	}
	.org_contacts{
		padding-left: 25px;
	}
	.org_address{
		float: none;
		width: auto;
		margin-right: 0;
	}
	.org_address:before{
		left: -20px;
		font-size: 18px;
	}
	.org_phone:before{
		left: -21px;
		font-size: 18px;
	}
	.org_time:before{
		left: -21px;
		font-size: 18px;
	}
	.about_org{
		padding: 0 20px;
	}
	.catalog_action_body{
		padding: 20px;
	}
	.catalog_action_img{
		float: none;
		width: 280px;
		height: 210px;
		margin-bottom: 20px;
	}
	.catalog_action_content{
		float: none;
		width: auto;
	}
	.catalog_action_head{
		padding: 10px 20px;
	}
	.catalog_action_company{
		display: table;
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}
	.catalog_action_company_name{
		width: 230px;
	}
	.catalog_action_contacts{
		width: auto;
		float: none;
	}
	.main_head_title{
		font-size: 18px;
	}
	.catalog_row .catalog_box{
		float: none;
		margin: 0 auto;
	}
	.catalog_row .catalog_box:nth-child(n+2){
		display: none;
	}
	.land_box h2:before{
		content: none;
	}
	.land_more:before{
		content: none;
	}
	.land_box_subtitle{
		text-align: center;
		border: 0;
	}
	.land_box_subtitle h3{
		font-size: 18px;
		line-height: 24px;
	}
	.land_box{
		padding: 0 5px;
		margin-bottom: 20px;
	}
	.land_content_inner {
		width: auto;
		padding-bottom: 65px;
	}
	.land_box .specialist_box{
		margin: 5px 2px;
	}
	.land_content_inner .slick-prev, .land_content_inner .slick-next{
		top: 335px;
	}
	.land_content_inner .slick-prev{
		left: 95px;
	}
	.land_content_inner .slick-next{
		right: 95px;
	}
	.models_carousel .slick-prev, .models_carousel .slick-next{
		top: 410px;
		width: 30px;
		height: 30px;
	}
	.models_carousel .slick-prev{
		left: 10px;
	}
	.models_carousel .slick-next{
		right: 10px;
	}
	.models_carousel .slick-prev:before, .models_carousel .slick-next:before{
		font: normal normal normal 19px/1 FontAwesome;
	}
	.land_box .services_box{
		margin: 5px 5px;
	}
	.land_box .rent_box{
		margin: 5px 5px;
	}
	.aside_models{
		margin: 0 10px 25px;
	}
	.models_carousel{
		width: auto;
	}
	.models_box{
		margin: 0 5px;
	}
	.activity_content{
		height: 250px;
	}
	.activity_title{
		width: 170px;
		margin: 0 auto;
	}
	.land_box .popular_head{
		margin-bottom: 20px;
	}
	.catalog_row .box_h{
		width: 300px;
		height: 400px;
		border: 0;
		border-radius: 3px;
	}
	.popular_objects .land_content_inner .slick-prev, .popular_objects .land_content_inner .slick-next{
		top: 390px;
	}
	.active_participants_title{
		text-align: center;
	}
	.active_participants_title h3{
		display: block;
		font-size: 18px;
	}
	.active_participants_title a{
		margin-bottom: 10px;
		margin-left: 0;
	}
	.active_participants{
		padding: 0 10px;
	}
	.active_participants_box{
		float: none;
		width: auto;
		border-left: 0;
	}
	.founder{
		padding: 30px 0;
	}
	.founder_inner{
		padding: 10px 20px;
	}
	.founder_left{
		float: none;
		width: auto;
		margin-left: 0;
	}
	.founder_img{
		width: 280px;
		height: 280px;
	}
	.founder_right{
		width: auto;
		float: none;
		text-align: center;
	}
	.founder_title{
		font-size: 30px;
	}
	.founder_subtitle{
		font-size: 18px;
	}
	.founder_text{
		font-size: 13px;
	}
	.founder_name{
		font-size: 13px;
	}
	.content_main{
		padding: 25px 0;
	}
	.popular_services .land_content_inner .slick-prev, .popular_services .land_content_inner .slick-next{
		top: 400px;
	}
	.landingScreen-head{
		padding-top: 50px;
		margin-bottom: 50px;
	}
	.landingScreen-head .mainheading{
		font-size: 48px;
		margin-bottom: 15px;
	}
	.landingScreen-head .subheading{
		font-size: 18px;
		line-height: 24px;
	}
	.landingScreen-head .thirdheading{
		font-size: 18px;
		line-height: 24px;
	}

	.landingScreen-advantages{
		padding-top: 70px;
	}
	.landingScreen-advantages .mainheading{
		font-size: 30px;
	}
	.landingScreen-advantages .fourthheading{
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
	.advantages-list{
		margin-bottom: 15px;
	}
	.advantages-item{
		margin-bottom: 30px;
	}
	.landingScreen-advantages .subheading{
		font-size: 24px;
	}
	.landingScreen-advantages .thirdheading{
		font-size: 18px;
		margin-bottom: 20px;
	}
	.landingScreen-easy .mainheading{
		font-size: 18px;
	}
	.landingScreen-easy .thirdheading{
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 20px;
	}
	.check-item span{
		font-size: 18px;
	}
	.landingScreen-easy .a_button{
		font-size: 18px;
		line-height: 40px;
		border-radius: 20px;
	}
	.check-list{
		margin-bottom: 0;
	}
	.indent-item.active:before{
		bottom: -70px;
	}
	.aside_community{
		display: none;
	}
	.activity_content .scrollbar > .scroll-element.scroll-y{
		top: 10px;
	}
	/*#map{
		margin-top: 40px;
		z-index: 100;
	}*/
	.map_box_inner{
		padding: 25px 20px; 
	}
	.map_org_avatar{
		position: relative;
		left: auto;
		top: auto;
		margin-bottom: 15px;
	}
	.map_org_avatar{
		margin-left: 10px;
	}
	.map_org_category, .map_org_title, .map_org_address, .map_org_phone, .map_org_time, .map_org_info{
		margin-left: 20px;
	}
	.map_org_link .a_button{
		width: 100%;
	}
	.rents .catalog_org_footer{
		padding: 15px 20px;
    	margin: 20px -20px -20px;
	}
	.catalog_org_footer-left{
		float: none;
		margin-bottom: 15px;
	}
	.catalog_org_footer-right{
		float: none;
	}
	.org_head {
	    margin-top: -100px;
	}
	.reviews_head{
		padding: 20px 20px;
	}
	.reviews_avatar{
		margin-right: 15px;
		margin-bottom: 20px;
		z-index: 2;
	}
	.reviews_body{
		float: none;
		width: auto;
		padding-top: 10px;
	}
	.reviews_verify{
		position: relative;
		right: auto;
		top: auto;
		margin-bottom: 15px;
		overflow: hidden;
	}
	.reviews_verify_img{
		width: 20px;
		height: 20px;
	}
	.reviews_verify_text{
		width: auto;
	}
	.reviews_verify_text big{
		font-size: 11px;
	}
	.reviews_text{
		font-size: 13px;
		padding-top: 10px;
	}
	.reviews_file{
		margin-bottom: 15px;
	}
	.reviews_rating{
		display: block;
	}
	.reviews_rating_box{
		display: block;
		width: auto;
		height: 65px;
		border-left: 0;
		border-bottom: 1px solid #eeeeee;
		padding: 10px 20px;
	}
	.reviews_rating_box:first-child{
		padding-left: 20px;
	}
	.reviews_rating_box:last-child{
		padding-right: 20px;
		border-bottom: 0;
	}
	.reviews_rating_box:nth-child(2){
		width: auto;
	}
	.reviews_more{
		padding: 15px 20px;
	}
	.reviews_add{
		padding: 30px 20px;
	}
	.reviews_add_box{
		display: block;
	}
	.reviews_add_head{
		display: table;
		width: 100%;
		margin-bottom: 20px;
	}
	.reviews_add_avatar{
		display: table-cell;
		vertical-align: top;
		width: 60px;
	}
	.reviews_mobile{
		display: table-cell;
		vertical-align: middle;
		padding-top: 10px;
		padding-left: 20px;
	}
	.reviews_add_body{
		display: block;
		padding-left: 0;
	}
	.reviews_like{
		top: -20px;
		right: 0;
	}
	.reviews_add_comment{
		padding: 15px 10px 5px 15px;
	}
	.reviews_add_comment .reviews_add_user{
		display: none;
	}
	.reviews_add_comment .reviews_add_info{
		display: none;
	}
	.reviews_add_comment:before{
		top: -11px;
    	left: 25px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 0;
		border-bottom: 11px solid #eeeeee;
	}
	.reviews_add_comment:after {
		top: -9px;
    	left: 25px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 0;
		border-bottom: 11px solid #fff;
	}
	.reviews_add_control{
		text-align: left;
	}
	.reviews_add_control a{
		margin-left: 0;
		margin-right: 15px;
	}
	.reviews_add_box .reviews_add_box{
		padding-left: 20px;
	}
	.reviews_new_head{
		display: none;
	}
	.reviews_new_body{
		display: block;
		padding: 0;
	}
	.employees{
		padding: 0 20px;
	}
	.employee_box{
		width: 300px;
		margin-left: 0;
	}
	.employee_box:nth-child(3n+1) {
	    margin-left: 0;
	}
	.employee_box:nth-child(2n+1) {
	    margin-left: 0;
	}
	.employee_body{
		width: 170px;
	}
	.top{
		margin-top: 0;
	}
	.schedule_legend_box{
		display: block;
		float: none;
		margin-bottom: 5px;
	}
	.schedule{
		display: block;
		width: auto;
	}
	.schedule_calendar{
		display: block;
		width: auto;
	}
	.schedule_body{
		display: block;
		width: auto;
	}
	.gallery_photo a, .gallery_video a{
		float: none;
		display: block;
	}
	.gallery_photo img{
		width: 100%;
		height: auto;
	}
	.gallery_video img{
		width: 100%;
		height: auto;
	}
	.spec_info:before{
		font-size: 18px;
		left: -21px;
	}
	#passport_issued_by{
		width: 100%;
	}
	#modal_map{
		width: 320px;
	}
	#modal_send_message .message_subject{
		width: auto;
	}
	#modal_alert .message_subject{
		width: auto;
	}
	#modal_alert_not_login .message_subject{
		width: auto;
	}
	.all_modal_window h4{
		font-size: 20px;
	}
	.reviews_add_control{
		opacity: 1;
	}
	.employees_price_box{
		margin: 0 0 30px;
		overflow: hidden;
	}
	.employees_price_table{
		overflow: hidden;
		overflow-x: scroll;
	}
	.employees_price_table table{
		width: auto;
	}
	.employees_price_table table thead tr td, .employees_price_table table thead tr th{
		white-space: nowrap;
		padding: 10px 20px;
	}
	.order_tabs{
		display: none;
	}



	#modal_online_order_emp .modal_close{
		top: 22px;
		right: 22px;
	}
	.order_head{
		padding-top: 0;
	}
	.order_clear{
		float: right;
		margin-right: 20px;
		padding: 17px 0;
	}
	.order_clear button{
		font-size: 15px;
	}
	.order_timer{
		display: none;
		width: 62px;
		font-size: 17px;
		line-height: 30px;
		margin-top: 12px;
		margin-right: 20px;
	}

	.order_section{
		display: none;
		width: auto;
		float: none;
		height: 345px;
		padding: 0;
	}
	.order_section.show{
		display: block;
	}
	.order_section_services{
		display: none;
		float: none;
	}
	.order_date_user{
		display: none;
		float: none;
	}

	.order_section .scrollbar > ul > li > a{
		padding-left: 40px;
	}
	.order_section ul li ul li{
		padding-left: 40px;
	}
	.order_section .scrollbar > ul > li:before{
		left: 20px;
	}
	.order_services_title{
		padding-left: 15px;
	}
	.order_section_services{
		width: auto;
	}
	.order_services_box{
		width: auto;
		height: 345px;
		padding: 0;
	}
	.order_services_title{
		padding-left: 40px;
	}
	.order_services_option label{
		background-position: 10px 15px;
	}
	.order_services_option label:hover{
		background-position: 10px 15px;
	}
	.order_services_option input[type="checkbox"]:checked + label{
		background-position: 10px 15px;
	}
	.order_date_user{
		width: auto;
		height: 345px;
	}
	.order_date_slider{
		padding: 20px 30px 30px 30px;
	}
	.date_slider{
		width: 250px;
	}
	.date_slider .slick-track{
		width: 1120px !important;
	}
	.date_box{
		width: 32px !important;
	}
	.date_day{
		width: 32px;
		height: 32px;
		font-size: 17px;
		line-height: 32px;
	}
	.services_employees_box{
		height: 205px;
	}
	.order_date_hour{
		padding: 25px 15px 25px 40px;
	}
	.order_date_hour span{
		width: 56px;
		height: 34px;
		font-size: 15px;
		line-height: 34px;
	}
	.order_info{
		padding: 25px 20px;
	}
	.order_info h4, .order_data h4{
		font-size: 18px;
		font-weight: 400;
	}
	.order_confirm{
		padding-top: 0;
	}
	.order_services_selected{
		padding: 0;
	}
	.services_selected{
		font-size: 15px;
		padding: 8px 8px;
		margin-bottom: 10px;
	}
	.services_selected .fa{
		font-style: 17px;
	} 
	
	.order_footer{
		min-height: 75px;
	}
	.order_footer_left{
		width: 170px;
	}
	.order_services_selected{
		display: none;
	}
	.order_info_selected{
		padding-left: 20px;
	}
	.order_info_date, .order_info_time, .order_info_employee, .order_info_price{
		display: none;
		float: none;
		width: auto;
		margin-right: 0;
		margin-top: 5px;
	}
	.order_info_date span, .order_info_time span, .order_info_employee span, .order_info_price span{
		display: inline;
	}
	.order_footer_right{
		width: 120px;
		margin-left: 10px;
		padding-top: 15px;
	}

	/*.order_section.show, .order_section_services.show, .order_date_user.show, .order_info.show{
		display: block;
	}*/
	.article_w_img{
		display: none;
	}
	.article_h_img{
		display: inherit;
	}

	.nav_list{
		position: relative;
		-webkit-column-count: 1;
		-moz-column-count: 1;
		-o-column-count: 1;
		-ms-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		-o-column-gap: 0;
		-ms-column-gap: 0;
		column-gap: 0;
	}
	.nav_list_box{
		display: block;
	}
	.response_rating_box{
		display: block;
		text-align: center;
		margin-bottom: 15px;
	}
	.response_rating_title{
		display: block;
		width: auto;
		height: auto;
		margin-bottom: 10px;
	}
	.response_rating_stars{
		display: block;
		width: auto;
	}
}




@media only screen and (max-width:3000px){
	.page_catalog .box_h{
		width: 9.20%;
	}
}
@media only screen and (max-width:2935px){
	.page_catalog .box_h{
		width: 9.21%;
	}
}
@media only screen and (max-width:2800px){
	.page_catalog .box_h{
		width: 9.22%;
	}
}
@media only screen and (max-width:2710px){
	.page_catalog .box_h{
		width: 10.14%;
	}
}
@media only screen and (max-width:2615px){
	.page_catalog .box_h{
		width: 10.15%;
	}
}
@media only screen and (max-width:2467px){
	.page_catalog .box_h{
		width: 10.92%;
	}
}
@media only screen and (max-width:2360px){
	.page_catalog .box_h{
		width: 10.95%;
	}
}
@media only screen and (max-width:2278px){
	.page_catalog .box_h{
		width: 12.25%;
	}
}
@media only screen and (max-width:2050px){
	.page_catalog .box_h{
		width: 12.3%;
	}
}
@media only screen and (max-width:2034px){
	.page_catalog .box_h{
		width: 13.95%;
	}
}
@media only screen and (max-width:1960px){
	.page_catalog .box_h{
		width: 14%;
	}
}
@media only screen and (max-width:1791px){
	.page_catalog .box_h{
		width: 15.54%;
	}
}
@media only screen and (max-width:1750px){
	.page_catalog .box_h{
		width: 15.55%;
	}
}
@media only screen and (max-width:1700px){
	.page_catalog .box_h{
		width: 15.56%;
	}
}
@media only screen and (max-width:1650px){
	.page_catalog .box_h{
		width: 15.57%;
	}
}
@media only screen and (max-width:1599px){
	.page_catalog .box_h{
		width: 18.38%;
	}
}
@media only screen and (max-width:1530px){
	.page_catalog .box_h{
		width: 18.4%;
	}
}
@media only screen and (max-width:1375px){
	.page_catalog .box_h{
		width: 18.45%;
	}
}
@media only screen and (max-width:1199px){
	.page_catalog .box_h{
		width: 22.55%;
	}
}
@media only screen and (max-width:1117px){
	.page_catalog .box_h{
		width: 26.8%;
	}
}
@media only screen and (max-width:1060px){
	.page_catalog .box_h{
		width: 26.9%;
	}
}
@media only screen and (max-width:928px){
	.page_catalog .box_h{
		width: 36.65%;
	}
}
@media only screen and (max-width:880px){
	.page_catalog .box_h{
		width: 36.7%;
	}
}
@media only screen and (max-width:820px){
	.page_catalog .box_h{
		width: 36.75%;
	}
}
@media only screen and (max-width:760px){
	.page_catalog .box_h{
		width: 36.8%;
	}
}
@media only screen and (max-width:685px){
	.page_catalog .box_h{
		width: 50%;
	}
}
@media only screen and (max-width:496px){
	.page_catalog .box_w{
		width: 100%;
	}
}
@media only screen and (max-width:442px){
	.page_catalog .box_h{
		width: 100%;
	}
}



@media only screen and (min-width:1199px) and (max-width:1399px){
	.popular_box{
		width: 160px;
		height: 340px;
		padding: 15px 10px;
	}
	.popular_img{
		width: 130px;
		height: 130px;
	}
}
@media only screen and (min-width:1199px) and (max-width:1299px){
	.action_box{
		width: 230px;
		height: 430px;
		padding: 15px 10px;
	}
	.action_img{
		width: 210px;
		height: 160px;
	}
}
@media only screen and (min-width:1199px) and (max-width:1350px){
	.request_body{
		padding: 15px 15px;
	}
	.request_title{
		font-size: 28px;
	}
	.request_text{
		font-size: 22px;
	}
	.request_button .a_button{
		width: 180px;
		padding: 0px 5px;
	}
}
